<%= form_for (@device) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :imei %><br />
    <%= f.text_field :imei %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= select( "display", "id", { "Private" => "1", "Public" => "0"}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
