<p>
  <b>Iconset:</b>
  <%= @icon.iconset_id %>
</p>

<p>
  <b>Icon nro:</b>
  <%= @icon.icon_nro %>
</p>

<p>
  <b>Device:</b>
  <%= @icon.device_id %>
</p>


<%= link_to 'Edit', edit_icon_path(@icon) %> |
<%= link_to 'Back', icons_path %>
