<!DOCTYPE html>
<html>
<head>
  <title><%= controller.action_name %> &ndash; <%= controller.controller_name %> &ndash; Catss</title>
  <%= javascript_include_tag ’http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js’ %>
  <%= javascript_include_tag ’rails’, :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
<p class="notice"><%= notice %> </p>
<%= yield %>
</body>
</html>

