<p>
  <b>Device:</b>
  <%= @group.device_id %>
</p>

<p>
  <b>User:</b>
  <%= @group.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
