<h1>Listing events</h1>

<table>
  <tr>
    <th>Imei</th>
    <th>Coordinates</th>
    <th>Altitude</th>
    <th>Speed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.imei %></td>
    <td><%= event.coordinates %></td>
    <td><%= event.altitude %></td>
    <td><%= event.speed %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
